<section id="home">
  <div class="inner-width">
    <div class="content">
      <h1>Hola soy un desarrollador </h1>
      <div class="sm">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin-in"></a>
        <a href="#" class="fab fa-youtube"></a>
      </div>
      <div class="buttons">
        <a href="#">Contactame</a>
        <a href="#">Download CV</a>
      </div>
    </div>
  </div>
</section>
