<section id="contact">
  <div class="inner-width">
    <h2 class="section-title">Get in Touch</h2>
    <div class="contact-info">

      <div class="item">
        <i class="fas fa-mobile-alt"></i>
        + 999 999999999
      </div>

      <div class="item">
        <i class="fas fa-envelope"></i>
        admin@admin.com
      </div>

      <div class="item">
        <i class="fas fa-map-marker-alt"></i>
        Manchay City, Lima Peru
      </div>
    </div>

    <form action="#" class="contact-form">
      <input type="text" placeholder="Your Full Name" class="nameZone">
      <input type="email" placeholder="Your Email" class="emailZone">
      <input type="text" placeholder="Subject" class="subjectZone">
      <textarea placeholder="Message" class="messageZone"></textarea>
      <input type="submit" value="Send Message" class="btn">
    </form>
  </div>
</section>