<section id="about">
  <div class="inner-width">
    <h2 class="section-title animate__animated animate__bounce">Acerca de</h2>
    <div class="about-content">
      <img src="{{path}}img/pic.png" class="about-pic">
      <div class="about-text">
        <h2 class="animate__heartBeat">Hola soy desarrollador web</h2>
        <h3>
          <span>Developer</span>
          <span>Designer</span>
          <span>Youtuber</span>
        </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed fuga eaque, culpa cupiditate animi laborum natus! Similique odio sit facilis dolorum dicta velit provident sequi iusto, est pariatur quisquam corrupti animi necessitatibus aliquid deserunt reprehenderit voluptatibus? Exercitationem deserunt fugit dicta nesciunt velit quae tempora eius praesentium odio est, voluptatem vero incidunt omnis ad iure, soluta maiores nostrum inventore alias culpa. Nihil suscipit possimus est harum accusamus impedit libero deleniti repellat.
        </p>
      </div>
    </div>

    <!--ProgressBar-->
    <div class="skills">

      <div class="skill">
        <div class="skill-info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="skill-bar html"></div>
      </div>

      <div class="skill">
        <div class="skill-info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="skill-bar html"></div>
      </div>

      <div class="skill">
        <div class="skill-info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="skill-bar html"></div>
      </div>

      <div class="skill">
        <div class="skill-info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="skill-bar html"></div>
      </div>

      <div class="skill">
        <div class="skill-info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="skill-bar html"></div>
      </div>

      <div class="skill">
        <div class="skill-info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="skill-bar html"></div>
      </div>

    </div>
  </div>
</section>
