<section id="education">
  <div class="inner-width">
    <h2 class="section-title">Education & Experiences</h2>
    <div class="time-line">

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

      <div class="block">
        <h4>2018 - 2019</h4>
        <h3>Software engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At expedita maiores ullam voluptatum a nulla aperiam enim eveniet adipisci ipsum.</p>
      </div>

    </div>
  </div>
</section>