<section id="works" class="dark">
  <div class="inner-width">
    <h2 class="section-title">Trabajos</h2>
    <div class="works">

      <a href="{{path}}img/works/1.jpg" class="work">
        <img src="{{path}}img/works/1.jpg">
        <div class="info">
          <h3>Titulo de Trabajos</h3>
          <div class="cat">Descripcion de la imagen</div>
        </div>
      </a>

      <a href="{{path}}img/works/2.jpg" class="work">
        <img src="{{path}}img/works/2.jpg">
        <div class="info">
          <h3>Titulo de Trabajos</h3>
          <div class="cat">Descripcion de la imagen</div>
        </div>
      </a>

      <a href="{{path}}img/works/3.jpg" class="work">
        <img src="{{path}}img/works/3.jpg">
        <div class="info">
          <h3>Titulo de Trabajos</h3>
          <div class="cat">Descripcion de la imagen</div>
        </div>
      </a>

      <a href="{{path}}img/works/4.jpg" class="work">
        <img src="{{path}}img/works/4.jpg">
        <div class="info">
          <h3>Titulo de Trabajos</h3>
          <div class="cat">Descripcion de la imagen</div>
        </div>
      </a>

      <a href="{{path}}img/works/5.jpg" class="work">
        <img src="{{path}}img/works/5.jpg">
        <div class="info">
          <h3>Titulo de Trabajos</h3>
          <div class="cat">Descripcion de la imagen</div>
        </div>
      </a>

      <a href="{{path}}img/works/6.jpg" class="work">
        <img src="{{path}}img/works/6.jpg">
        <div class="info">
          <h3>Titulo de Trabajos</h3>
          <div class="cat">Descripcion de la imagen</div>
        </div>
      </a>

    </div>
  </div>
</section>